.img {
  // max-width: 2560px;
  width: 100%;
  max-height: 768px;
  max-width: 1440px;
  // max-height: 1000px;
  object-fit: cover;
  margin: 0 auto;
}

.text {
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .text {
    font-size: 14px;
    padding: 0;
  }

  .img {
    // object-fit: cover;
    height: 300px;
  }
}
