.city__wrapper {
  margin: auto;
  // background-color: red;
  width: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 22px;
}
