.main {
  width: 100%;
  // padding: 0 15%;
  font-family: 'Playfair Display', serif;;
  color: #626262;
  font-size: 14px;
  
  .main__main-article-img {
    // position: absolute;
    // left: 5px;
    width: 90%;
    margin: 0 5%;
    padding: 60px 0;
    // background: red;
  }


  &__main-article-wrap {
    // position: relative;
    // top: 630px;
    // text-align: start;
    width: 70%;
    margin: 0 auto;
    padding: 20px;

    .main__main-article-chapter {
      font-family: 'Ubuntu', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      // padding: 10px;
      color: rgba(62, 62, 62, 0.432);
    }

    .main__main-article-caption {
      font-size: 30px;
      padding: 10px 10px 30px 0px;
      color: #626262;
    }
    
    .main__main-article-text {
      // width: 100vw;
      line-height: 24px;
      margin: 30px 0;
    }
    
    .main__main-article-btn {
      // position: relative;
      // top: 30px;
      color: #b4ad9e;
      font-family: 'Ubuntu', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      
      // background: red;
    }
    
  }

  &__articles-wrap {
    // display: flex;

    .main__articles-list  {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      width: 70%;
      margin: 0 auto;
      // justify-content: space-between;
      // align-items: stretch;
      // padding: 0px;
  
      
      .main__articles-list-items {
        display: flex;
        flex-flow: column;
        // position: relative;
        // top: 750px;
        // padding: 20px;
        margin: 60px 0;
        width: 46%;
        // height: 100vh;
        // margin: 0 auto;
        // height: 540px;
        
        // background: red;
        
        
        .main__main-article-img {
          // position: relative;
          // left: 0;
          padding: 0;
          margin: 0;
          object-fit: cover;
          height: 300px;
          width: 100%;

          // background: black;
        }

        .main__article-wrap {
          // position: relative;
          // top: 290px;
          // left: -70%;
          // width: 70%;
          margin: 0 auto;
          padding: 20px 0;

          .main__main-article-chapter {
            font-family: 'Ubuntu', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            // padding: 10px;
            color: rgba(62, 62, 62, 0.432);
          }
      
          .main__main-article-caption {
            font-size: 30px;
            padding: 10px 10px 30px 0px;
            color: #626262;
          }
          
          .main__main-article-text {
            // width: 100vw;
            line-height: 24px;
            margin: 20px 0;
          }
        }

      }
      
    }
  }

  &__sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // position: relative;
    // margin: 80% 0 0 -31%;
    width: 100%;
    background: #f0f0f0;
    // z-index: 1;

    .main__form {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      // background: red;
      margin: 70px 0;
      // background: red;
      // height: 125px;
      width: 27%;
      
      border-width: 1px;
      border-bottom-style: solid;
      
      &-title {
        width: 100%;
        // margin: 0;
        padding: 0 0px 80px 3px;
        // margin: 0 auto;
        font-size: 30px;
        color: #333333;
        font-weight: 500;
        // background: blue;
      }
      
      &-email {
        margin: 0;
        // padding: 5px;
        // margin: 3px;
        // width: 360px;
        // height: 30px;
        // text-align: left;
        width: 80%;
        border: none;
        outline: none;
        vertical-align: middle;
        background-color: transparent;
        font-family: 'Playfair Display', serif;
        // background: green;
        
      }

      &-submit {
        position: relative;
        // top: 25px;
        right: -15%;
        border: none;
        outline: none;
          width: 20%;
          // background-color: blue;
        // height: 40px;
        background: url("../../images/sendIcon.png") no-repeat;
        cursor: pointer;

      }
    }
    
  }

  // section:nth-child(4) {
  //   margin: 0;
  //   // position: relative;
  //   // top: -600px;
  // }

  &__btn {
    display: flex;
    justify-content: center;
    // align-items: center;
    // margin: 200px;

    .btn-primary {
      padding: 20px 40px;
      background-color: transparent;
      border: 1px solid #626262;
      font-family: 'Playfair Display', serif;
      color: #626262;
      font-size: 20px;
      cursor: pointer;
    }
    
  }
}


@media only screen and (min-width: 1824px) {
  section:not(.main__sign-up) {
    width: 1824px;
    margin: 0 auto;
    
    .main__form {
      width: 100px;
    }
  }

}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  max-width: 320px;
}





// @media only screen and (min-width: 1680px) {
//   main {
//     max-width: 1680px;
//     margin: 0 auto;
//   }
// }

