.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 20px 60px;

}

.logo {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 10px;

}

.header__section-list {
  display: flex;
  padding: 10px;


  .header__section-list-items {
    padding: 20px 50px;
    text-transform: uppercase;
    color: #626262;
    font-size: 14px;

    &:last-child {
      padding-right: 0;
    }

  }
}