body {
  height: 100vh;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 20px 0;
  width: 90%;
  // background: red;
  margin: 0 auto;
  

}

.logo {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 10px 10px 10px 0;

}

.header__section-list {
  display: flex;
  // padding: 10px;



  .header__section-list-items {
    margin:  15px 45px;
    padding: 15px 0;
    text-transform: uppercase;
    color: #626262;
    font-size: 14px;
    cursor: pointer;

    &:last-child {
      padding-right: 0;
      margin-right: 0;
    }

  }
}


@media only screen and (min-width: 1824px) {
  .header__container {
    width: 1650px;

  }
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .header__container {
    flex-direction: column;
  
    /* Выравнивание элементов шапки с начала (по левому краю). */
    align-items: flex-start;
    .header__section {
      flex-direction: column;
    
      /* Выравнивание элементов шапки с начала (по левому краю). */
      align-items: flex-start;
    }
  }

}

