.saved-wrap {
  display: none;
  flex-flow: column;
  list-style: none;
  width: 200px;
  background-color: rgb(166, 239, 252);
  position: absolute;
  top: 34px;
  right: -240px;
  transition: 0.7s;
  position: absolute;

  &__item {
    background-color: rgba(248, 255, 182, 0.973);
    padding: 5px 20px;
    margin: 5px 0 5px -40px;
    width: 100%;
    cursor: pointer;

    &:first-child {
      margin: 10px 0 5px -40px;
    }

    &:last-child {
      margin: 5px 0 10px -40px;
    }

    &:hover {
      background-color: rgb(239, 253, 112);
      transform: translateY(-1.5px);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(0px);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
