.main {
  // position: relative;

  .carousel {
    position: relative;
    height: 600px;
    background-color: #171717;
    // z-index: -1;

    &__bg {
      background-image: url(../../assets/images/slider-img.png);
      background-repeat: no-repeat;
      width: 770px;
      height: 690px;
      position: absolute;
      right: 12%;
      bottom: -80px;
      // z-index: -1;
      // margin-right: 200px;
    }

    &__wrapper {
      margin-left: 15%;
      display: flex;
      justify-content: space-around;
      flex-flow: column;
      width: 600px;
      height: 100%;
      // z-index: 2;

      &-title {
        font-size: 60px;
        margin-top: 100px;
        color: #fff;
        // position: absolute;
        display: none;
      }

      .carousel__wrapper-title.active {
        display: block;
      }

      &-btn {
        width: 200px;
        height: 40px;
        margin-top: -50px;
        background-color: #ffd200;
        border: none;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
      }

      &-indicator {
        display: flex;
        margin-top: 30px;

        &-item {
          background-color: #fff;
          width: 15px;
          height: 15px;
          border-radius: 15px;
          margin: 0 10px;
          cursor: pointer;
        }
      }
    }
  }

  .pay {
    background-color: #ffe400;
    height: 80px;
    // position: absolute;
    width: 100%;
    // z-index: 1;

    &__wrapper {
      width: 960px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-item {
        display: flex;
        align-items: center;

        span {
          margin-right: 10px;
        }
      }
    }
  }
}
