.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
  height: 100px;
  border-bottom: 1px solid #414144;

  .logo {
    margin-left: 15px;
  }

  .nav {
    background-color: red;
    // width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__bar {
      display: flex;
      align-items: center;
      position: relative;

      &-item {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        height: 86px;
        border-bottom: 3px solid #171717;

        &:hover {
          border-bottom: 3px solid #ffd200;
          a,
          .sub-nav-btn {
            color: #ffd200;
          }
        }

        .sub-nav {
          width: 100%;
          height: 100px;

          &:hover {
            .sub-nav-content {
              display: flex;
            }
          }

          &-btn {
            height: 97%;
            width: 100%;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            background-color: #171717;
            cursor: pointer;
            padding: 14px 16px;
            margin: 0;
          }

          &-content {
            display: none;
            position: absolute;
            left: 0;
            top: 100px;
            background-color: #000;
            width: 100%;
            z-index: 1;
            justify-content: space-evenly;
            padding: 20px 0;
            border-bottom: 3px solid #ffd200;

            &__first {
              display: flex;
              flex-flow: column;
              width: 40%;
            }

            &__second {
              display: flex;
              flex-flow: column;
              width: 40%;
            }

            h4 {
              margin-bottom: 15px;
              color: #999;
            }

            a {
              color: #fff;
              text-decoration: none;
              border-bottom: 0.5px solid #555;
            }
          }
        }

        a {
          color: #fff;
          cursor: pointer;
          padding: 5px;
        }
      }
    }

    &__sign {
      display: flex;
      justify-content: flex-end;

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 35px;
        margin: 0 5px;
        color: #fff;

        &:last-child {
          color: #ffd200;
          border: 1px solid #ffd200;
          border-radius: 5px;
        }
      }
    }
  }

  .choose-language {
    margin-right: 15px;

    &__select {
      background-color: #171717;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;

      &-option {
        background-color: #fff;
      }
    }
  }

  .menu-icon-wrapper {
    margin-right: 30px;
    display: none;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .menu-icon {
    position: relative;
    width: 25px;
    height: 3px;
    background-color: #fff;
  }

  .menu-icon::before {
    position: absolute;
    left: 0;
    top: -7px;
    content: "";
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .menu-icon::after {
    position: absolute;
    left: 0;
    top: 7px;
    content: "";
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .menu-icon.menu-icon-active {
    background-color: transparent;
  }

  .menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  .menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  .menu-list-wrapper {
    display: flex;
    background-color: #000;
    width: 300px;
    position: fixed;
    top: 61px;
    right: -300px;
    transition: 0.4s all;

    .menu-list {
      width: 100%;

      &__select {
        &-list {
          background-color: #fff;
          margin: 15px 25px 20px 10px;
          width: calc(100% - 35px);
          height: 30px;
          outline: none;

          &-item {
            padding-left: 10px;
          }
        }
      }

      &__item {
        margin: 5px 20px 5px 10px;
        border-bottom: 1px solid #555;
        position: relative;

        &:hover {
          .menu-list__item-submenu {
            display: block;
          }
        }

        &:last-child {
          margin-bottom: 20px;
        }

        &-link {
          margin-left: 20px;
          padding: 10px 10px 15px 10px;
          display: flex;
          width: calc(100% - 40px);
          font-size: 16px;
          color: #fff;
          position: relative;

          &::after {
            content: "";
            width: 15px;
            height: 15px;
            background-color: #555;
            border-radius: 10px;
            display: block;
            position: absolute;
            top: 13px;
            left: -21px;
          }

          &:hover {
            color: #ffd200;

            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 100%;
              left: -20px;
              width: calc(100% - 20px);
              height: 1px;
              background-color: #ffd200;
            }
          }
        }

        &-submenu {
          display: none;
          li {
            margin-left: 20px;
            padding: 10px 10px 15px 10px;
            display: flex;

            width: 100%;
            font-size: 18px;
            color: #999;

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .menu-list-wrapper.menu-list-wrapper-active {
    right: 0;
  }
}

@media (max-width: 768px) {
  body {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .header {
    height: 60px;
    // width: 100px;

    .nav {
      display: none;
    }

    .choose-language {
      display: none;
    }

    .menu-icon-wrapper {
      display: flex;
    }

    .menu-list-wrapper.menu-list-wrapper-active {
      position: absolute;
    }
  }
}
