.form-search {
  margin: 50px auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .wrapper__button-search {
    margin-top: 50px;

    &__btn {
      outline: none;
      cursor: pointer;
      width: 200px;
      height: 50px;
      background-color: rgb(252, 255, 49);
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      position: relative;

      &-name {
        font-size: 18px;
        margin-right: 40px;
      }

      &-plane {
        width: 25px;
        height: 25px;
        position: absolute;
        top: calc(50% - 12.5px);
        right: 20px;
        transform: rotate(90deg);
        background: url(../../assets/icons/plane-btn.svg);
        background-size: cover;
      }
    }
  }
}

.active {
  animation-name: bounceOutRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceOutRight {
  0% {
    transform: translateX(0) rotate(90deg);
  }
  20% {
    opacity: 1;
    // transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    transform: translateX(200px) rotate(90deg);
  }
}
